{% extends 'base.html.twig' %}

{% block title %}Hello MoncrudController!{% endblock %}

{% block body %}
    <h1>Liste des Articles</h1>




    <table border=1 class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
        {% for article in liste_articles %}
        <tr>

            <td>{{ article.id  }}</td>
            <td>{{ article.titre  }}</td>
            <td>{{ article.contenu  }} </td>
            <td> Actions </td>
        </tr>
        </tbody>
    </table>


        {% endfor %}

{% endblock %}
